/* TABLES: GENERAL STYLE */

.spacewalk-table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}
.spacewalk-table th,
.spacewalk-table td{
	text-align: left;
	border: 1px solid @gray-light;
}
.spacewalk-table thead th{
    padding: .7em 0 .7em 1em;
    color: #fff;
    background: #ccc;
	border-bottom: 0px solid @gray-light;
	border-right: 0px solid @gray-light;
}
.spacewalk-table thead th:first-child{
	-moz-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	-khtml-border-radius: 6px 0 0 0;
}
.spacewalk-table thead th:last-child{
	-moz-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	-khtml-border-radius:  0 6px 0 0;
	border-right: 1px solid @gray-light;
}
.spacewalk-table thead tr th:only-of-type {
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	-khtml-border-radius:  6px 6px 0 0;
}
.spacewalk-table tbody td{
    padding: .7em 0 .7em 1em;
	font-weight: normal;
	border-right: 0px solid @gray-light;
	border-bottom: 0px solid @gray-light;
}
.spacewalk-table tbody td:last-child{
	border-right: 1px solid @gray-light;
}
.spacewalk-table tbody td img{
	margin: 0 8px 0 0;
	float: left
}
.spacewalk-table tbody tr{
	background: #fff;
	-webkit-transition: background 0.5s ease;  
    -moz-transition: background 0.5s ease;  
    -o-transition: background 0.5s ease;  
    -ms-transition: background 0.5s ease;  
    transition: background 0.5s ease;
}
.spacewalk-table tbody tr:hover{
	background: darken(@gray-lighter, 1%);
}
.spacewalk-table tbody td p{
	float: left;
	margin: 5px 0 0 0
}
.spacewalk-table tbody tr:last-child td:first-child{
	-moz-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	-khtml-border-radius: 0 0 0 6px;
	border-bottom: 1px solid @gray-light;
}
.spacewalk-table tbody tr:last-child td:last-child{
	-moz-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	-khtml-border-radius: 0 0 6px 0;
	border-bottom: 1px solid @gray-light;
}
.spacewalk-table tbody tr:last-child td:only-of-type{
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	-khtml-border-radius: 0 0 6px 6px;
	border-bottom: 1px solid @gray-light;
}
.spacewalk-table tbody tr:last-child td{
	border-bottom: 1px solid @gray-light;
}

/* XS tables */
.spacewalk-table.spacewalk-table-xs thead td, 
.spacewalk-table.spacewalk-table-xs tbody td{
    padding: .3em 0 .3em .5em;
}